body {
	font-family: serif;
	font-size: 15px;
	font-weight: bolder;
	/* background-image:radial-gradient(rgb(250, 232, 235), rgb(253, 175, 188), rgb(148, 2, 148)); */
	background-image: url(a.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#CSS ol li a{
	color: #dcff10;
	font-size: 25px;
}