
body {
	font-family: arial;
	font-size: 30px;
	background-image:url(tenor.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#chu {
	list-style-type: none;
	background: blanchedalmond;

	text-align: center;;
}
#noidung ul{
	list-style-type: none ;
	background : blanchedalmond;
	text-align: center;
} 
#noidung ul li{
	color: rgb(128, 128, 78);
	display: inline-table;
	padding: 10px 20px 20px 40px;
	line-height: 40px;
	
}
#noidung ul li a{
	color:  rgb(128, 128, 78);
	text-decoration: none;
	display: block;
}
#noidung ul li a:hover{
	background: blanchedalmond;
	color: rgb(0, 159, 252);
}
