*{margin: 0px; padding: 0px;}

body {
	font-family: serif;
	font-size: 30px;
	font-weight: bolder;
	/* background-image:radial-gradient(rgb(250, 232, 235), rgb(253, 175, 188), rgb(148, 2, 148)); */
	background-image: url(../phancongtrongnhan.github.io/a.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#header {
	display: inline;
	font-family: serif;
	background: blanchedalmond;
	text-align: center;
	
}
#header li {
	list-style: none;
	text-decoration: none;
}
.clear{clear: both;}
#menu{width: 960px;
	 height: 50px;
	 background: #f8f8f8;
	 margin: 0px 350px;
	 }
#main-menu{background-color:#00a69b;
	margin-top: 30px;}

#main-menu ul li{
	float: left;
	display: inline-table;
	padding: 11px 15px;
	line-height: 40px;
}
#main-menu ul li a{
	text-decoration: none;
	display: block;
	color: floralwhite;
}
#main-menu ul li :hover{
	background: blanchedalmond;
	color: #00a69b;
}
#content{
	border-radius: 45px;
	background-image:linear-gradient( #4f9c82bb, #906060bb, #8a6767bb);
	color:white;
	margin-top: 130px;
	padding: 20px; 
	width: 650px;
   height: 250px;
}
#content ul li{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	list-style: none;
	text-decoration: none;
	text-align: left;
}
#content ul{	padding: 20px 28px;}


